<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        /* You may adjust these values as needed */
        .w-85 {
            width: 35%;
        }

        i {
            margin-right: 5px;
        }

        .add-h {
            height: 50%;
        }


        #modal {
            align-items: center;
            justify-content: center;
        }

        .modal-btn {
            position: absolute;
            left: 50%;
            transform: translate(45%);
        }

        .ql-editor {
            min-height: 96px;
            max-height: 150px;
            overflow-y: auto;
        }

        .ql-editor {
            margin-bottom: 10px;
        }

        .hidden {
            display: none;
        }
    </style>

    <link rel="apple-touch-icon" sizes="180x180" href="../fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../fav/favicon-16x16.png">
    <link rel="manifest" href="../fav/site.webmanifest">
    <link rel="mask-icon" href="../fav/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
     <script defer src=".././menu.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>TC Admin - Contacts</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../fav/favicon-16x16.png">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs/build/css/alertify.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs/build/css/themes/default.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/alertifyjs/build/alertify.min.js"></script>
    <script>

        function showAlertSuccess(text) {
            alertify.set('notifier','delay', 6);
            alertify.set('notifier','position', 'top-center');
            alertify.success(text);
        }
        function showalertwarning(text) {
            alertify.set('notifier','delay', 6);
            alertify.set('notifier','position', 'top-center');
            alertify.error(text);
        }
    </script>
</head>
<body class="bg-slate-800 h-screen flex">

    <!-- Left Side Menu -->
    <div class=" left-0 top-0 h-full w-1/6 bg-slate-950 text-white p-4 text-center">
        <img src="../img/tc-logo.png" style="width: 90%; height: auto; margin-bottom: 20px; padding: 1rem;">
        <ul id="menu">
            
        </ul>
    </div>

    <!-- Main Content -->
    <div class="flex-1 p-8">
       <div class="max-w-full w-full bg-white p-8 rounded shadow-md">
    <div class="flex items-center justify-between mb-4">
        <!-- Password Manager Passwords text -->
        <h1 class="text-2xl font-bold mb-4">Vendor Contacts</h1>

        <!-- Search Box and Add New Password Button Container -->
        <div class="flex items-center">
            <!-- Search Box -->
            <div class="flex items-center">
                <input type="text" id="search" placeholder="Search..." class="bg-gray-100 border border-gray-300 px-4 py-2 rounded-l-md focus:outline-none focus:ring-blue-500 focus:border-blue-500">
            </div>
            
            <!-- Add New Password Button -->
            <button class="bg-blue-500 text-white px-4 py-2 rounded-md ml-4" onclick="modalOpen('0')"><i class="fa-solid fa-plus"></i> Add</button>
        </div>
    </div>
    

    <!-- Table -->
    <div class="relative h-[70vh] overflow-y-auto">
            <table class="w-full mx-auto border-collapse border border-gray-800" >
                
                <div class="grid grid-cols-3 gap-4 mt-3 w-full text-center" id="wifi-grid">
                        
                    </div>
            </table>
        </div>
        <div class="w-full text-right mt-4" id="pageBTN">
        <button id="prevButton" data-page="0" class="bg-gray-800 text-white py-2 px-4 rounded hover:bg-gray-700">Previous</button>
        <span id="pageIndicator">Page 1</span>
        <button id="nextButton" data-page="2" class="bg-gray-800 text-white py-2 px-4 rounded hover:bg-gray-700">Next</button>
    </div>
</div>
 

    <!-- Modal -->
    <div id="modal" class="fixed top-0 left-0 w-full h-full flex items-center justify-center bg-gray-800 bg-opacity-50 hidden" onclick="event.stopPropagation()">
    <div class="relative w-85 bg-white rounded shadow-md flex flex-col">
        <div class="grid grid-cols-1 flex-grow">
            <div id="showpass">
                <div class="col-span-1 bg-white p-8 rounded-l text-center">
                <h1 class="text-center text-4xl" id="modal-headline"></h1>
                <hr><br>
                
                        <input type="text" id="modal-name" placeholder="Name" class="w-full px-3 py-2 border rounded-md mb-2" >
                        <input type="text" id="modal-company" placeholder="Company" class="w-full px-3 py-2 border rounded-md mb-2" >
                        <input type="text" id="modal-title" placeholder="Title" class="w-full px-3 py-2 border rounded-md mb-2" >
                        <input type="text" id="modal-phone" placeholder="Phone" class="w-full px-3 py-2 border rounded-md mb-2" >
                        <input type="text" id="modal-cell" placeholder="Cell Phone" class="w-full px-3 py-2 border rounded-md mb-2" >
                        <input type="text" id="modal-fax" placeholder="Fax" class="w-full px-3 py-2 border rounded-md mb-2" >
                        <input type="text" id="modal-email" placeholder="Email" class="w-full px-3 py-2 border rounded-md mb-2" >
                        <input type="text" id="modal-website" placeholder="Website" class="w-full px-3 py-2 border rounded-md mb-2" >
                        <textarea id="modal-info" name="" id="" cols="90" rows="10" style="width: 90%; padding: 10px;" placeholder="Contact information"></textarea>
                    
                    
                    <div class="text-center">
                        <button id="modal-add" class="bg-green-500 text-white px-4 py-2 rounded-md mb-4 mt-4 w-half p-4 hidden" onclick="AddContact()">Add</button>
                        <button id="modal-edit" class="bg-yellow-500 text-white px-4 py-2 rounded-md mb-4 mt-4 w-half p-4 hidden" onclick="EditContact()">Save</button>
                        <button class="bg-red-500 text-white px-4 py-2 rounded-md mb-4 mt-4 w-half p-4" onclick="modalClose()">Close</button>
                    </div>
                </div>                                 
            </div>
        </div>
    </div>
</div>


<div id="infomodal" class="fixed top-0 left-0 w-full h-full flex items-center justify-center bg-gray-800 bg-opacity-50 hidden" onclick="event.stopPropagation()">
    <div class="relative w-85 add-h bg-white rounded shadow-md flex flex-col">
            
        <div class="grid grid-cols-1 flex-grow">
             <div>
                <div class="col-span-1 bg-white p-8 rounded-l text-center">
                
                <div class="mb-4">
                        <p id="info-text"> </p>
                    </div>

                    <div class="text-center">

                        <button class="bg-red-500 text-white px-4 py-2 rounded-md mb-4 mt-8 w-half" onclick="closeInfo()">Close</button>
                    </div>
                </div>                                 
            </div>
        </div>
    </div>
</div>
 
     <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="https://unpkg.com/quill-html-edit-button@2.2.7/dist/quill.htmlEditButton.min.js"></script>
    
    <script defer>
        let editID = 0
        const modal = document.getElementById('modal')
        const infoModal = document.getElementById('infomodal')
        const infoText = document.getElementById('info-text')

        const headline = document.getElementById('modal-headline')
        const name = document.getElementById('modal-name')
        const company = document.getElementById('modal-company')
        const title = document.getElementById('modal-title')
        const phone = document.getElementById('modal-phone')
        const cell = document.getElementById('modal-cell')
        const fax = document.getElementById('modal-fax')
        const email = document.getElementById('modal-email')
        const website = document.getElementById('modal-website')
        const info = document.getElementById('modal-info')

        const addBTN  = document.getElementById('modal-add')
        const editBTN  = document.getElementById('modal-edit')

        let searchBox = document.getElementById('search')

        function getInfo(id) {
            function blank(data) {
                if(data == null) {
                    return " "
                } else {
                    return data
                }
            }

            infoModal.classList.remove('hidden')
            fetch(`/contacts/info?id=${id}`)
                .then(response => response.json())
                .then(data => {
                    let obj = data[0]
                    infoText.innerText = blank(obj.info)
                })
            
        } 

        function closeInfo() {
            infoModal.classList.add('hidden')
        }

        function modalOpen(id) {
            if(id == '0') {
                headline.innerHTML = 'Add a contact'
                modal.classList.remove('hidden')
                addBTN.classList.remove('hidden')
            } else {
                editID = id
                headline.innerHTML = 'Edit a contact'
                modal.classList.remove('hidden')
                editBTN.classList.remove('hidden')
                fetch(`/contacts/info?id=${id}`)
                .then(response => response.json())
                .then(data => {
                    let obj = data[0]
                    name.value = obj.name
                    company.value = obj.company
                    title.value = obj.title
                    phone.value = obj.phone
                    cell.value = obj.cell
                    fax.value = obj.fax
                    email.value = obj.email
                    website.value = obj.website
                    info.value = obj.info
                })
            }
        }

        function modalClose() {
            name.value = ''
            company.value = ''
            title.value = ''
            phone.value = ''
            cell.value = ''
            fax.value = ''
            email.value = ''
            website.value = ''
            info.value = ''
            headline.innerHTML = ''

            if(editID == 0) {
                modal.classList.add('hidden')
                addBTN.classList.add('hidden')
            }else {
                modal.classList.add('hidden')
                editBTN.classList.add('hidden')
                editID = 0
            }
        }

        function AddContact() {

            let modalData = {
            name: name.value,
            company: company.value,
            title: title.value,
            phone: phone.value,
            cell: cell.value,
            fax: fax.value,
            email: email.value,
            website: website.value,
            info: info.value,
        }

            console.log(modalData)
            fetch(`/contacts/contact`,{
                method: 'Put',
                body : JSON.stringify(modalData),
                headers: {"Content-Type": "application/json"},
                })
                    .then(response => response.text())
                    .then(data => {
                        if(data == 'added')
                        showAlertSuccess(`${name.value} was added.`)
                        modalClose()
                        getContact()
                    });
        }

        function EditContact() {
            let modalData = {
            name: name.value,
            company: company.value,
            title: title.value,
            phone: phone.value,
            cell: cell.value,
            fax: fax.value,
            email: email.value,
            website: website.value,
            info: info.value,
        }
            fetch(`/contacts/contact?id=${editID}`,{
                method: 'Post',
                body : JSON.stringify(modalData),
                headers: {
                    "Content-Type": "application/json",
                    },
                })
                    .then(response => response.text())
                    .then(data => {
                        if(data == 'saved')
                        modalClose()
                        getContact()
                    });
        }

        function deleteContact(id) {
            var answer = prompt(`Do you want to delete this contact? (yes/no)`);
            if (answer === "yes") {
                fetch(`/contacts/contact?id=${id}`,{method : "Delete"})
                .then(response => response.text())
                .then(data => {
                    if(data == 'deleted') {
                        showAlertSuccess('Deletec')
                        getContact()
                    }
                }); 
                    
            } else if (answer === "no") {
                
            } else {
                
            }
        }

        searchBox.addEventListener("input", () => {
            function blank(data) {
                if(data == null) {
                    return " "
                } else {
                    return data
                }
            }

            if(searchBox.length == 0) {
                document.getElementById('wifi-grid').innerHTML = ''
                getContact(1)
            } else {
            document.getElementById('wifi-grid').innerHTML = ''
            fetch(`/contacts/search?search=${searchBox.value}`)
            .then(response => response.json())
            .then(data => {
                document.getElementById('wifi-grid').innerHTML = ''
                for(let i = 0; i<data.length; i++) {
                    let obj =data[i];
                    document.getElementById('wifi-grid').innerHTML += `
                                <div class="bg-gray-200 p-6 rounded-md text-left border-gray-400">
                                    <h2 class="text-lg font-semibold text-center">${blank(obj.company)}</h2>
                                        <p class="mb-4 text-center">${blank(obj.title)}</p>
                                        <hr>
                                    <div class="ml-2 mb-4">
                                        <p><i class="fa-solid fa-circle-user"></i> ${blank(obj.name)}</p>
                                        <p><i class="fa-solid fa-phone"></i> ${blank(obj.phone)}</p>
                                        <p><i class="fa-solid fa-mobile-screen-button"></i> ${blank(obj.cell)}</p>
                                        <p><i class="fa-solid fa-envelope-open-text"></i> ${blank(obj.email)}</p>
                                        <p><i class="fa-solid fa-fax"></i> ${blank(obj.fax)}</p>
                                        <p><i class="fa-solid fa-globe"></i> ${blank(obj.website)}</p>
                                    </div>
                                    <button class="bg-green-500 text-white px-4 py-2 rounded-md mb-4 mt-4" onclick="modalOpen(${obj.id})"><i class="fa-solid fa-pen-nib"></i> Edit</button>
                                    <button class="bg-yellow-500 text-white px-4 py-2 rounded-md mb-4 mt-4" onclick="getInfo(${obj.id})"><i class="fa-solid fa-circle-info"></i> More Info</button>

                                    <button class="bg-red-500 text-white px-4 py-2 rounded-md mb-4 mt-4" onclick="deleteContact('${obj.id}')"><i class="fa-solid fa-trash"></i> Delete</button>
                                </div>
                            `;
                }
            })
            }
        })

        let currentPage = 1;
        const limit = 30; 

        function getContact(page = 1) {
            function blank(data) {
                if(data == null) {
                    return " "
                } else {
                    return data
                }
            }
            document.getElementById('wifi-grid').innerHTML = ''
            fetch(`/contacts/list?page=${page}&limit=${limit}`)
                .then(response => response.json())
                .then(data => {
                    if (Array.isArray(data)) { // Check if data is an array
                        data.forEach(obj => {
                            document.getElementById('wifi-grid').innerHTML += `
                                <div class="bg-gray-200 p-6 rounded-md text-left border-gray-400">
                                    <h2 class="text-lg font-semibold text-center">${blank(obj.company)}</h2>
                                        <p class="mb-4 text-center">${blank(obj.title)}</p>
                                        <hr>
                                    <div class="ml-2 mb-4">
                                        <p><i class="fa-solid fa-circle-user"></i> ${blank(obj.name)}</p>
                                        <p><i class="fa-solid fa-phone"></i> ${blank(obj.phone)}</p>
                                        <p><i class="fa-solid fa-mobile-screen-button"></i> ${blank(obj.cell)}</p>
                                        <p><i class="fa-solid fa-envelope-open-text"></i> ${blank(obj.email)}</p>
                                        <p><i class="fa-solid fa-fax"></i> ${blank(obj.fax)}</p>
                                        <p><i class="fa-solid fa-globe"></i> ${blank(obj.website)}</p>
                                    </div>

                                    <div class="text-center">
                                        <button class="bg-green-500 text-white px-4 py-2 mr-4 rounded-md mb-4 mt-4" onclick="modalOpen(${obj.id})"><i class="fa-solid fa-pen-nib"></i> Edit</button>
                                        <button class="bg-yellow-500 text-white px-4 py-2 mr-4 rounded-md mb-4 mt-4" onclick="getInfo(${obj.id})"><i class="fa-solid fa-circle-info"></i> Info</button>
                                        <button class="bg-red-500 text-white px-4 py-2 rounded-md mb-4 mt-4" onclick="deleteContact('${obj.id}')"><i class="fa-solid fa-trash"></i> Delete</button>
                                    </div>
                                  
                                </div>
                            `;
                        });
                    } else {
                        console.error("Data is not an array:", data);
                        // Handle the case where data is not an array, possibly show an error message
                    }
                })
                currentPage = page;
                document.getElementById('pageIndicator').innerText = `Page ${currentPage}`;
        }

        document.getElementById('prevButton').addEventListener('click', () => {
            if (currentPage > 1) getContact(currentPage - 1);
        });

        document.getElementById('nextButton').addEventListener('click', () => {
            getContact(currentPage + 1); // You might want to check here if there are still more data
        });


        getContact(1)
        infoModal.classList.add('hidden')
    </script>

</body>
</html>
