<!DOCTYPE html>
<html lang="en">
<head>

    <style>
        .selected {
            background-color: darkgrey;
        }

        .btn {
            margin-left: -35px;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src=".././menu.js"></script>
    <title>Docmentation</title>
</head>
<body class="bg-slate-800 h-screen flex">

    <!-- Left Side Menu -->
    <div class="w-1/6 bg-slate-950 text-white p-4 text-center">
        <img src="./img/tc-logo.png" style="width: 90%; height: auto; margin-bottom: 20px; padding: 1rem;">
        <ul id="menu">
            
        </ul>
    </div>

    <!-- Main Content -->
    
            
<div class="flex-1 p-8">
    <div class="max-w-full w-full bg-white p-8 rounded shadow-md">
        <div class="flex items-center justify-between mb-4">
            <h1 class="text-2xl font-bold">IT Documentation</h1>
            <div class="flex items-center">
                <input type="text" id="search" placeholder="Search..." class="bg-gray-100 border border-gray-300 px-4 py-2 rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500">
                <button class="bg-green-500 text-white px-4 py-2 rounded-md ml-4"><i class="fa-solid fa-plus"></i> New Doc</button>
                <button class="bg-red-500 text-white px-4 py-2 rounded-md ml-4"><i class="fa-solid fa-trash"></i> Delete Doc</button>
                <button class="bg-yellow-500 text-white px-4 py-2 rounded-md ml-4"><i class="fa-regular fa-pen-to-square"></i> Edit Doc</button>
            </div>
        </div>

        <!-- Table -->
        <table class="w-full border-collapse border border-gray-800" id="docs-table">
            <thead>
                <tr class="bg-gray-800 text-white">
                    <th class="py-2 px-4 border">Document</th>
                    <th class="py-2 px-4 border">Category</th>
                    <th class="py-2 px-4 border">Last Updated</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr class="" onclick="docSelect('1')"  ondblclick="openModal('Cisco Switch', 'root', '', '2024-02-05', 1)">
                    <td class="py-2 px-4 border">Cisco Switch</td>
                    <td class="py-2 px-4 border">Networking</td>
                    <td class="py-2 px-4 border">Jan 20, 2017</td>
                </tr>
                <tr class="" onclick="docSelect('2')"   ondblclick="openModal('Cisco Switch', 'root', '', '2024-02-05', 1)">
                    <td class="py-2 px-4 border">Informacast </td>
                    <td class="py-2 px-4 border">Networking</td>
                    <td class="py-2 px-4 border">Jan 20, 2017</td>
                </tr>
                <!-- Add more rows as needed -->
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div id="modal" class="fixed top-0 left-0 w-full h-full bg-gray-800 bg-opacity-50 hidden" ondblclick="event.stopPropagation()">
    <div class="w-1/2 mx-auto mt-20 bg-white p-8 rounded shadow-md">
        <h2 class="text-2xl font-bold mb-4">Edit Password</h2>
        <form>
            <!-- Form fields -->
        </form>
    </div>
</div>


    <script>
        var table = document.getElementById("docs-table");
        var rows = table.getElementsByTagName("tr");


        const password = ['P@$$word1', 'password2.!', 'PaSSword3$!@', 'password4', 'PASSWORD5!']
        let docID = ''
        function openModal(website, username, url, lastUpdated, id) {
            document.getElementById('modal-website').value = website;
            document.getElementById('modal-username').value = username;
            document.getElementById('modal-url').value = url;
            document.getElementById('modal-last-updated').value = lastUpdated;
            passID = id
            document.getElementById('modal').style.display = 'block';
            
            for (var i = 0; i < rows.length; i++) {
                rows[i].classList.remove("bg-blue-500");
            }
            
        }

        function closeModal() {
            var passwordInput = document.getElementById('modal-password');
            var eyeIcon = document.getElementById('modal-eye-icon');
            passwordInput.type = 'password';
            eyeIcon.classList.remove('fas', 'fa-eye-slash');
            eyeIcon.classList.add('fas', 'fa-eye');
            document.getElementById('modal-password').value = ''
            passID = ''
            document.getElementById('modal').style.display = 'none';
        }

        document.addEventListener("DOMContentLoaded", function() {
        var table = document.getElementById("docs-table");
        var rows = table.getElementsByTagName("tr");

        // Function to remove the 'selected' class from all rows
        function clearSelection() {
            for (var i = 0; i < rows.length; i++) {
                rows[i].classList.remove("bg-blue-500");
            }
        }

        // Add click event listener to table rows
        for (var i = 0; i < rows.length; i++) {
            rows[i].addEventListener("click", function() {
                // Clear previous selections
                clearSelection();
                // Add 'selected' class to the clicked row
                this.classList.add("bg-blue-500");
            });
        }
    });
        
        function docSelect(id) {
            docID = id
            alert(docID)
        }

       
    </script>

</body>
</html>
