<!DOCTYPE html>
<html lang="en">
<head>

    <style>
        .selected {
            background-color: darkgrey;
        }

        .btn {
            margin-left: -35px;
        }

        .w-85 {
            width: 85vw;
        }

        .top {
            margin-top: -40px;
        }

        .h-85 {
            height: 85vh;
        }

        .view-h {
            height: 60vh;
            max-height: 60vh;
            border: 2px #333 solid;
            border-radius: 10px;
            padding: 15px;
            overflow: scroll;
        }

        #editor {
            height: 100vw;
        }

    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
            <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="https://unpkg.com/quill-html-edit-button@2.2.7/dist/quill.htmlEditButton.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src=".././menu.js"></script>
    <title>Docmentation</title>
</head>
<body class="bg-slate-800 h-screen flex">

    <!-- Left Side Menu -->
    <div class="w-1/6 bg-slate-950 text-white p-4 text-center">
        <img src="./img/tc-logo.png" style="width: 90%; height: auto; margin-bottom: 20px; padding: 1rem;">
        <ul id="menu">
            
        </ul>
    </div>

    <!-- Main Content -->
    
            
<div class="flex-1 p-8">
    <div class="max-w-full w-full bg-white p-8 rounded shadow-md">
        <div class="flex items-center justify-between mb-4">
            <h1 class="text-2xl font-bold">IT Documentation</h1>
            <div class="flex items-center">
                <input type="text" id="search" placeholder="Search..." class="bg-gray-100 border border-gray-300 px-4 py-2 rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500">
                <button class="bg-green-500 text-white px-4 py-2 rounded-md ml-4" onclick="openAddDoc()"><i class="fa-solid fa-plus" ></i> New Doc</button>
                <button class="bg-yellow-500 text-white px-4 py-2 rounded-md ml-4" onclick="openEditDoc()"><i class="fa-regular fa-pen-to-square" ></i> Edit Doc</button>
                <button class="bg-red-500 text-white px-4 py-2 rounded-md ml-4" onclick="deleteDoc()"><i class="fa-solid fa-trash"></i> Delete Doc</button>
                
            </div>
        </div>

        <!-- Table -->
        <table class="w-full border-collapse border border-gray-800" id="docs-table">
            <thead>
                <tr class="bg-gray-800 text-white">
                    <th class="py-2 px-4 border">Document</th>
                    <th class="py-2 px-4 border">Last Updated</th>
                </tr>
            </thead>
            <tbody class="text-center" id="doc-table">
                
                
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div id="modal-view" class="fixed top-0 left-0 w-full h-full bg-gray-800 bg-opacity-85 hidden" ondblclick="event.stopPropagation()">
    <div class="w-85 mx-auto mt-5 bg-white p-8 rounded shadow-md h-85">
        <h2 class="text-2xl font-bold mb-4 text-center" id="show-doc-title"></h2><hr>
       
       
       
       <div>
            <dir id="show-doc-text" class="view-h"></dir>
        </div>

        <div>      
            <button type="button" id="modal-save-btn" class="w-full bg-orange-500 text-white p-2 rounded-md hover:bg-orange-700 mb-4" onclick="closeModal()">Close</button>      
        </div>
    </div>
</div>

<div id="modal-add" class="fixed top-0 left-0 w-full h-full bg-gray-800 bg-opacity-85 hidden" ondblclick="event.stopPropagation()">
    <div class="w-85 mx-auto mt-5 bg-white p-8 rounded shadow-md h-85">
        <h2 class="text-2xl font-bold mb-4 text-center">Add Documentation</h2>
       <div class="mb-6">
            <label for="modal-title" class="block text-gray-600 text-sm font-medium mb-2">Document Name</label>
            <input type="text" id="doc-title" name="modal-title" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500" >
       </div>
       
       <div>
            <div id="editor" class="w-full max-h-96 px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500 border-gray-700">
        </div>

        <div>
            <button type="button" id="modal-add-btn" class="w-full bg-green-500 text-white p-2 rounded-md hover:bg-green-700 mb-4 hidden" onclick="addDoc()">Add Documentation</button>
            <button type="button" id="modal-edit-btn" class="w-full bg-orange-500 text-white p-2 rounded-md hover:bg-orange-700 mb-4 hidden" onclick="editDoc()">Save Changes</button>      
            <button type="button" id="modal-save-btn" class="w-full bg-orange-500 text-white p-2 rounded-md hover:bg-orange-700 mb-4" onclick="closeModal();">Cancel</button>      
        </div>

    </div>
</div>


    <script>
        var toolbarOptions = [
        ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
        ['code-block'],

        [{ 'header': 1 }, { 'header': 2 }],               // custom button values
        [{ 'list': 'ordered'}, { 'list': 'bullet' }],
        [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
        [ 'link', 'image', 'video', 'formula' ],  
        [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
        [{ 'align': [] }],

        ];
        Quill.register("modules/htmlEditButton", htmlEditButton);
        var quill = new Quill('#editor', {
        modules: {
            toolbar: toolbarOptions,
            htmlEditButton: {
            debug: true, // logging, default:false
            msg: "Edit the content in HTML format", //Custom message to display in the editor, default: Edit HTML here, when you click "OK" the quill editor's contents will be replaced
            okText: "Ok", // Text to display in the OK button, default: Ok,
            cancelText: "Cancel", // Text to display in the cancel button, default: Cancel
            buttonHTML: "&lt;&gt;", // Text to display in the toolbar button, default: <>
            buttonTitle: "Show HTML source", // Text to display as the tooltip for the toolbar button, default: Show HTML source
            syntax: false, // Show the HTML with syntax highlighting. Requires highlightjs on window.hljs (similar to Quill itself), default: false
            prependSelector: 'div#myelement', // a string used to select where you want to insert the overlayContainer, default: null (appends to body),
            editorModules: {} // The default mod
            }
        },
        theme: 'snow'
        });

        var table = document.getElementById("docs-table");
        var rows = table.getElementsByTagName("tr");
        let docID = 0
        let docName = ''
        const viewModal = document.getElementById('modal-view')
        const addModal = document.getElementById('modal-add')
        const editModalBTN = document.getElementById('modal-edit-btn')
        const addModalBTN = document.getElementById('modal-add-btn')
        const docTitle = document.getElementById('doc-title')
    
        function openModal(id) {
            viewModal.style.display = 'flex'
            {{!-- for (var i = 0; i < rows.length; i++) {
                rows[i].classList.remove("bg-blue-500");
            } --}}

            fetch(`/docs/doc?id=${id}`)
  		    .then(response => response.json())
            .then(data => {
                //console.log(data)
                        document.getElementById('show-doc-title').innerText = data[0].doc
                        document.getElementById('show-doc-text').innerHTML = data[0].doc_body
                }); 
        }

        function getDocs() {
            document.getElementById('docs-table').innerHTML = ''
            fetch('/docs/doc-list')
                .then(response => response.json())
                .then(data => {
                    //console.log(data)
                    data.forEach(obj => {
                        let row = `
                            <tr class="" onclick="docSelect('${obj.id}')"  ondblclick="openModal('${obj.id}')">
                            <td class="py-2 px-4 border">${obj.doc}</td>
                            <td class="py-2 px-4 border">${obj.date}</td>
                        </tr>`;
                        document.getElementById('docs-table').innerHTML += row; // Corrected table ID
                    });
                });
        }

        document.addEventListener("DOMContentLoaded", function() {
            // Function to remove the 'selected' class from all rows
            function clearSelection() {
                for (var i = 0; i < rows.length; i++) {
                    rows[i].classList.remove("bg-blue-500");
                }
            }
            // Add click event listener to table rows
            for (var i = 0; i < rows.length; i++) {
                rows[i].addEventListener("click", function() {
                    // Clear previous selections
                    clearSelection();
                    // Add 'selected' class to the clicked row
                    this.classList.add("bg-blue-500");
                });
            }
        });

         function closeModal() {
            viewModal.style.display = 'none'
            addModal.style.display = 'none'
            addModalBTN.style.display = 'none'
            editModalBTN.style.display = 'none'
            docTitle.value = ''
            quill.root.innerHTML = ""
        }
        
        function docSelect(id) {
            docID = id
            console.log(id)
        }

        function openAddDoc() {
            addModalBTN.style.display = 'inline'
            addModal.style.display = 'flex'
        }

        function openEditDoc() {
            console.log('Edit Clicked')
            editModalBTN.style.display = 'inline'
            addModal.style.display = 'flex'
            fetch(`/docs/doc?id=${docID}`)
  		    .then(response => response.json())
            .then(data => {
                        console.log(data)
                        docTitle.value = data[0].doc
                        quill.root.innerHTML  = data[0].doc_body
                }); 
        }
        
        function addDoc() {
            {{!-- if(docTitle.value !== ''){
                alert('Enter the document title!')
                return
            }

            if(docBody !== "<p><br></p>"){
                alert('Enter the document title!')
                return
            } --}}

            let data = {
                doc: docTitle.value,
                body: quill.root.innerHTML
            }

            fetch('/docs/doc',{
                method: 'Put',
                body : JSON.stringify(data),
                headers: {
                    "Content-Type": "application/json",
                    },
            })
  		    .then(response => response.json())
            .then(data => {
                    if(data.affectedRows == 1) {
                        
                        addModal.style.display = 'none'
                        getDocs()
                        closeModal()
                    } else {
                        alert("Error: Password not added!!!");
                    }
                });
        }

        function editDoc() {
            {{!-- if(docTitle.value !== ''){
                alert('Enter the document title!')
                return
            }

            if(docBody !== "<p><br></p>"){
                alert('Enter the document title!')
                return
            } --}}

            let data = {
                id : docID,
                doc: docTitle.value,
                body: quill.root.innerHTML
            }

            fetch('/docs/doc',{
                method: 'Post',
                body : JSON.stringify(data),
                headers: {
                    "Content-Type": "application/json",
                    },
            })
  		    .then(response => response.json())
            .then(data => {
                    if(data.affectedRows == 1) {
                       
                        addModal.style.display = 'none'
                        getDocs()
                        closeModal()
                    } else {
                        alert("Error: Password not added!!!");
                    }
                });
        }

        function deleteDoc() {
            fetch(`/docs/doc?id=${docID}`)
  		    .then(response => response.json())
            .then(data => {docName = data[0].doc}); 
            console.log(docName)
            var answer = prompt(`Do you want to delete ${docName}? (yes/no)`);
            if (answer === "yes") {
                fetch(`/docs/doc?id=${docID}`,{method : "Delete"})
                .then(response => response.json())
                .then(data => {}); 
                docID = 0
                docName = ''
                getDocs()
            } else if (answer === "no") {
                docID = 0
                docName = ''
                getDocs()
            } else {
                 docID = 0
                 docName = ''
                getDocs()
            }
        }





       getDocs()
    </script>

</body>
</html>
