<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
     <script defer src=".././menu.js"></script>
    <title>Macbook Inventory</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../fav/favicon-16x16.png">
</head>
<body class="bg-slate-800 h-screen flex">

    <!-- Left Side Menu -->
    <div class="w-1/6 bg-slate-950 text-white p-4 text-center">
        <img src="../img/tc-logo.png" style="width: 90%; height: auto; margin-bottom: 20px; padding: 1rem;">
        <ul id="menu">
            
        </ul>
    </div>

    <!-- Main Content -->
     <div class="flex-1 p-8">
       <div class="max-w-full w-full bg-white p-8 rounded shadow-md">
    <div class="flex items-center justify-between mb-4">
        <!-- Password Manager Passwords text -->
        <h1 class="text-2xl font-bold mb-4">Macbook Inventory</h1>

        <!-- Search Box and Add New Password Button Container -->
        <div class="flex items-center">
            <!-- Search Box -->
            <div class="flex items-center">
                <input type="text" id="search" placeholder="Search..." class="bg-gray-100 border border-gray-300 px-4 py-2 rounded-l-md focus:outline-none focus:ring-blue-500 focus:border-blue-500">
            </div>
            
            <!-- Add New Password Button -->
            <button class="bg-blue-500 text-white px-4 py-2 rounded-md ml-4" onclick="addModalOpen()"><i class="fa-solid fa-plus"></i> Add</button>
        </div>
    </div>

    <!-- Table -->
        <table class="w-full border-collapse border border-gray-800" >
            
            <div class="grid grid-cols-3 gap-4 mt-3 w-full text-center" id="grid">
                    
                </div>
        </table>
    </div>


           
  

    <!-- Modal -->
    <div id="modal" class="fixed top-0 left-0 w-full h-full bg-gray-800 bg-opacity-50 hidden" onclick="event.stopPropagation()">
        <div class="w-1/2 mx-auto mt-20 bg-white p-8 rounded shadow-md">
            <h2 class="text-2xl font-bold mb-4">Edit Inventory</h2>
            <form>
                <!-- Documentation Title -->
                <div class="mb-4">
                    <label for="modal-title" class="block text-gray-600 text-sm font-medium mb-2">Title</label>
                    <input type="text" id="modal-title" name="modal-title" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500" required>
                </div>
                <!-- Documentation Content -->
                <div class="mb-6">
                    <label for="modal-content" class="block text-gray-600 text-sm font-medium mb-2">Content</label>
                    <textarea id="modal-content" name="modal-content" class="w-full h-32 px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500" required></textarea>
                </div>
                <!-- Save Button -->
                <button type="button" onclick="closeModal()" class="w-half bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600">Save Documentation</button>
                <button type="button" onclick="closeModal()" class="w-half bg-red-500 text-white p-2 rounded-md hover:bg-red-600">Close</button>
            </form>
        </div>
    </div>

    <script>
        let grid = document.getElementById('grid')
        
        function getDesktop() {
            grid.innerHTML = ''
            fetch(`/macbook/list`)
            .then(response => response.json())
            .then(data => {
                grid.innerHTML = ''
                for(let i = 0; i<data.length; i++) {
                    let obj =data[i];

                    function buildingColor(building) {
                        if(building == 'DAC') {
                            return 'bg-green-400'
                        }

                        if(building == 'NS') {
                            return 'bg-yellow-400'
                        }



                    }

                    grid.innerHTML += `
                        <div class="${buildingColor(obj.building)} p-4 rounded-md text-left">
                                <h2 class="text-lg font-semibold mb-2 text-center" id="name">${obj.name}</h2>
                                <p>Make: ${obj.make}</p>
                                <p>Model: ${obj.model}</p>
                                <p>SN: ${obj.sn}</p>
                                <p>Mac: ${obj.mac}</p>
                                <p>IP: ${obj.ip}</p>
                                <p>Ram: ${obj.ram} GB</p>
                                <p>HDD: ${obj.hdd}</p>
                                <p>OS: ${obj.os}</p>
                                {{!-- <button class="bg-red-500 text-white px-4 py-2 rounded-md mb-4 mt-4"><i class="fa-solid fa-eye"></i> View Desktops</button> --}}
                            </div>
                        </div>
                    </div>`
                }
            })
        }


        getDesktop()
        
    </script>

</body>
</html>
