<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        /* You may adjust these values as needed */
        .w-85 {
            width: 35%;
        }

        .h-70 {
            height: 30%;
        }
        {{!-- #modal {
            align-items: center;
            justify-content: center;
        } --}}

        .modal-btn {
            position: absolute;
            left: 50%;
            transform: translate(45%);
        }

    </style>

    <link rel="apple-touch-icon" sizes="180x180" href="../fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../fav/favicon-16x16.png">
    <link rel="manifest" href="../fav/site.webmanifest">
    <link rel="mask-icon" href="../fav/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script defer src=".././menu.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>TC Admin - Renewals</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../fav/favicon-16x16.png">
</head>
<body class="bg-slate-800 h-screen flex">

    <!-- Left Side Menu -->
    <div class="w-1/6 bg-slate-950 text-white p-4 text-center">
        <img src="../img/tc-logo.png" style="width: 90%; height: auto; margin-bottom: 20px; padding: 1rem;">
        <ul id="menu">
            
        </ul>
    </div>

    <!-- Main Content -->
    <div class="flex-1 p-8">
       <div class="max-w-full w-full bg-white p-8 rounded shadow-md">
    <div class="flex items-center justify-between mb-4">
        <!-- Password Manager Passwords text -->
        <h1 class="text-2xl font-bold mb-4">Renewal Center</h1>

        <!-- Search Box and Add New Password Button Container -->
        <div class="flex items-center">
            <!-- Search Box -->
            <div class="flex items-center">
                <input type="text" id="search" placeholder="Search..." class="bg-gray-100 border border-gray-300 px-4 py-2 rounded-l-md focus:outline-none focus:ring-blue-500 focus:border-blue-500">
            </div>
            
            <!-- Add New Password Button -->
            <button class="bg-blue-500 text-white px-4 py-2 rounded-md ml-4" onclick="openModal('0')"><i class="fa-solid fa-plus"></i> Add</button>
            <input type="file" name="" id="upload" hidden>
            <button class="bg-green-500 text-white px-4 py-2 rounded-md ml-4" id="history" onclick="openChart()"><i class="fa-solid fa-rotate-right"></i> Renew</button>
            <button class="bg-red-500 text-white px-4 py-2 rounded-md ml-4" id="history" onclick="openChart()"><i class="fa-solid fa-chart-line"></i> History</button>
        </div>
    </div>

    <!-- Table -->
    
    <div class="relative h-[70vh] overflow-y-auto">
    <table class="w-full border-collapse border border-gray-800">
        <thead>
            <tr class="bg-gray-800 text-white">
                <th class="py-2 px-4 border">Service</th>
                <th class="py-2 px-4 border">Start Date</th>
                <th class="py-2 px-4 border">Renewal Date</th>
                <th class="py-2 px-4 border">Cost</th>
                <th class="py-2 px-4 border">PO Number</th>
            </tr>
        </thead>
        <tbody class="text-center" id="renew-table">
           
        </tbody>
    </table>
    </div>
    <div class="w-full text-right mt-4" id="pageBTN">
        <button id="prevButton" data-page="0" class="bg-gray-800 text-white py-2 px-4 rounded hover:bg-gray-700">Previous</button>
        <span id="pageIndicator">Page 1</span>
        <button id="nextButton" data-page="2" class="bg-gray-800 text-white py-2 px-4 rounded hover:bg-gray-700">Next</button>
    </div>

</div>

 
    <!-- Modal -->
    <div id="modal" class="fixed top-0 left-0 w-full h-full flex items-center justify-center bg-gray-800 bg-opacity-50 hidden" onclick="event.stopPropagation()">
    <div class="relative bg-white rounded shadow-md flex flex-col">
        <div class="grid grid-cols-1 flex-grow">
            <div class="col-span-1 bg-white p-8 rounded-l">
               
                    <!-- Website/Service -->
                    <div class="mb-4">
                        <label for="student-name" class="block text-gray-600 text-sm font-medium mb-2">Service</label>
                        <input type="text" id="service" name="student-name" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500" > 
                    </div>
                   
                    <div class="mb-4">
                        <label for="grad-year" class="block text-gray-600 text-sm font-medium mb-2">Starting Date</label>
                        <input type="text" id="start" name="grad-year" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500" >
                    </div>

                    <div class="mb-4">
                        <label for="grad-year" class="block text-gray-600 text-sm font-medium mb-2">Next Renewal Date</label>
                        <input type="text" id="renew" name="grad-year" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500" >
                    </div>
                   
                    <div class="mb-4">
                        <label for="grad-year" class="block text-gray-600 text-sm font-medium mb-2">Cost</label>
                        <input type="text" id="cost" name="grad-year" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500" >
                    </div>
                   
                    <div class="mb-4">
                        <label for="grad-year" class="block text-gray-600 text-sm font-medium mb-2">PO Number</label>
                        <input type="text" id="po" name="grad-year" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500" >
                    </div>

                 
                    
                <button type="button" id="add" class="w-full bg-green-500 text-white p-2 rounded-md hover:bg-green-700 mb-4 mt-2 hidden" onclick="AddRenewal()">Add Renewal</button>
                <button type="button" id="edit" class="w-full bg-green-500 text-white p-2 rounded-md hover:bg-green-700 mb-4 mt-2 hidden" onclick="EditRenewal()">Update Renewal</button>

                 
            </div>
        </div>
        <button class="absolute top-4 right-4 text-gray-600" onclick="closeModal()">
            <i class="fas fa-times"></i>
        </button>
    </div>
</div>


    <div id="history-modal" class="fixed top-0 left-0 w-full h-full flex items-center justify-center bg-gray-800 bg-opacity-50 hidden" onclick="event.stopPropagation()">
    <div class="relative bg-white rounded shadow-md flex flex-col">
        <div class="grid grid-cols-1 flex-grow">
            <div class="col-span-1 bg-white p-8 rounded-l">
                <div class="mb-4">
                        <label for="modal-make" class="block text-gray-600 text-sm font-medium mb-2">Select a service</label>
                        <select name="modal-make" id="history-select" oninput="updateChart()" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500">
                        </select>
                </div>
                <canvas id="myChart" width="1000" height="600"></canvas>
            </div>
        </div>
        <button class="absolute top-4 right-4 text-gray-600" onclick="closeChart()">
            <i class="fas fa-times"></i>
        </button>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


    <script defer> 
        let editid = 0;
        let renewTable = document.getElementById('renew-table')
        let modal = document.getElementById('modal')
        let service = document.getElementById('service')
        let start = document.getElementById('start')
        let renew = document.getElementById('renew')
        let cost = document.getElementById('cost')
        let po = document.getElementById('po')
        let addBTN = document.getElementById('add')
        let editBTN = document.getElementById('edit')

        let historyModal = document.getElementById('history-modal')
        let historyService = document.getElementById('history-select')

        let currentPage = 1;
        const limit = 30; 

        function getRenewals(page = 1) {
            renewTable.innerHTML = ''
            historyService.innerHTML = ''
            historyService.innerHTML = `<option value=""></option>`
            fetch(`/renew/list/?page=${page}&limit=${limit}`)
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                    for(let i=0; i<data.length; i++) {
                        let obj = data[i];
                       let row = `
                            <tr class="hover:bg-blue-400" onclick="openModal('${obj.id}')">
                                <td class="py-2 px-4 border">${obj.service}</td>
                                <td class="py-2 px-4 border">${obj.start}</td>
                                <td class="py-2 px-4 border">${obj.renewal_date}</td>
                                <td class="py-2 px-4 border">$${obj.cost}</td>
                                <td class="py-2 px-4 border">${obj.po}</td>
                            </tr>`;
                        renewTable.innerHTML += row
                        historyService.innerHTML += `<option value="${obj.service}">${obj.service}</option>`
                    }

                });
            currentPage = page;
            document.getElementById('pageIndicator').innerText = `Page ${currentPage}`;
        }

        document.getElementById('prevButton').addEventListener('click', () => {
            if (currentPage > 1) getRenewals(currentPage - 1);
        });

        document.getElementById('nextButton').addEventListener('click', () => {
            getRenewals(currentPage + 1); // You might want to check here if there are still more data
        });

        function openModal(id) {
            if(id == 0) {
                modal.classList.remove("hidden")
                addBTN.classList.remove('hidden')
            } else {
                modal.classList.remove("hidden")
                editBTN.classList.remove('hidden')
                editid = id
                fetch(`/renew/service/?id=${editid}`)
                .then(response => response.json())
                .then(data => {
                        let obj = data[0];
                        service.value = obj.service
                        start.value = obj.start
                        renew.value = obj.renewal_date
                        cost.value = obj.cost
                        po.value = obj.po
                });
            }
        }
        
        function closeModal() {
            if(editid == 0) {
                modal.classList.add("hidden")
                addBTN.classList.add('hidden')
                service.value = ''
                start.value = ''
                renew.value = ''
                cost.value = ''
                po.value = ''
            } else {
                editid = 0
                modal.classList.add("hidden")
                editBTN.classList.add('hidden')
                service.value = ''
                start.value = ''
                renew.value = ''
                cost.value = ''
                po.value = ''
            }
        }
         
        function AddRenewal() {
            let data = {
                    service : service.value,
                    start : start.value,
                    renewal_date: renew.value,
                    cost: cost.value,
                    year : year,
                    po: po.value,
                }
                
                fetch(`/renew/service`, {
                method: 'Put',
                body : JSON.stringify(data),
                headers: {
                    "Content-Type": "application/json",
                    }
                })
                .then(response => response.text())
                .then(data => {
                    if(data == 'added') {
                        closeModal()
                        getRenewals()
                    }
                });
        }

        function EditRenewal() {
            let data = {
                    service : service.value,
                    start : start.value,
                    renewal_date: renew.value,
                    cost: cost.value,
                    po: po.value,
                }
                
                fetch(`/renew/service?id=${editid}`, {
                method: 'Post',
                body : JSON.stringify(data),
                headers: {
                    "Content-Type": "application/json",
                    }
                })
                .then(response => response.text())
                .then(data => {
                    if(data == 'added') {
                        closeModal()
                        getRenewals()
                    }
                });
        }

        async function fetchData() {
            clearChart()
            try {
                const response = await fetch(`/renew/history?service=${historyService.value}`);
                const data = await response.json();
                return data;
            } catch (error) {
                console.error('Error fetching data:', error);
            }
        }

        async function updateChart() {

            const data = await fetchData();
            const labels = data.map(item => item.year);
            const values = data.map(item => item.cost);

            const config = {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Cost',
                        data: values,
                        fill: false,
                        borderColor: 'rgb(75, 192, 192)',
                        tension: 0.1
                    }]
                },
                options: {}
            };

            var myChart = new Chart(
                document.getElementById('myChart'),
                config
            );
        }

        // Call the updateChart function when the modal is opened
        function openChart() {
            historyModal.classList.remove('hidden')
            console.log('Clicked')
        }

        // Call the closeModal function to destroy the chart when the modal is closed
        function clearChart() {
            var chart = Chart.getChart('myChart');
            if (chart) {
                chart.destroy();
            }
        }

        function closeChart() {
            var chart = Chart.getChart('myChart');
            if (chart) {
                chart.destroy();
            }
            historyModal.classList.add('hidden')
        }

        document.getElementById('search').addEventListener('input', function(){
            if(document.getElementById('search').length < 1) {
               document.getElementById('password-table').innerHTML = '';
                fetch(`/students/search?search=${document.getElementById('search').value}`,{method : 'get'})
                    .then(response => response.json())
                    .then(data => {
                        data.forEach(obj => {
                            let row = `
                                 <tr class="hover:bg-blue-400" onclick="openModal('${obj.id}')">
                                <td class="py-2 px-4 border">${obj.student}</td>
                                <td class="py-2 px-4 border">${obj.year}</td>
                                
                            </tr>`;
                            document.getElementById('password-table').innerHTML += row;
                        });
                    });
            }
        })
 
        document.getElementById('upload').addEventListener('change', function(event) {
            const file = event.target.files[0];
            const reader = new FileReader();

            reader.onload = function(e) {
                const lines = e.target.result.split('\n');
                lines.forEach(function(line) {
                    //console.log(line); 
                    let data = {student : line.split(',')[0] + " " + line.split(',')[1], year : line.split(',')[2].slice(0, 4)}
                    fetch(`/students/student/`,{method: 'Put', body : JSON.stringify(data), headers: { "Content-Type": "application/json"},})
                        .then(response => response.text())
                        .then(data => {console.log(data)});
                });
            }
            reader.readAsText(file);
            
        });
    

    
        getRenewals(1)
    </script>

</body>
</html>
